@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(88, 88, 88);
}
.navbar h1{
  color: rgb(3,172,14);
}
.navbar .links{
  margin-left: auto;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.content{
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}
.btn-green{
  color: white;
  background-color: rgb(3,172,14);
  border-radius: 8px;
}
.btn-white{
  color: rgb(3,172,14);
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(3,172,14);
}
.product-list{
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 0px;
  justify-content: space-around;
}
.product-list a{
  text-decoration: none;
  margin: 10px 10px;
  padding: 5px 10px;
  border: 1px solid rgb(3,172,14);
  border-radius: 5px;
  color: white;
  background-color: rgb(3,172,14);
}
.product{
  min-width: 200px;
  flex-basis: 20%;
  border: 2px solid black;
  padding: 10px 10px;
}
.product-title{
  margin: 20px 5px;
}
.product-photo{
  max-width: 100%;
  max-height: 150px;
  margin: 0px auto;
}